@mixin disPro($dis,$align,$justify){
    display: $dis;
    align-items: $align;
    justify-content: $justify;
}

.bookContainer{
    height: calc(100vh - 70px);
    background-image: url('../../../public/5005356.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right;
    padding: 0;
    @include disPro(flex, center,flex-start);
    .login-fields-container{
        @include disPro(flex, center,center);
        width: 28%;
        // height: 60vh;
        padding: 20px 0;
        margin-left: 150px;
        border-radius: 10px;
        background-color: #ffff;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
        .form{
            @include disPro(flex, center,center);
            flex-direction: column;
            gap: 25px;
            width: 80%;
            input{
                height: 40px;
                width: 100%;
                padding: 15px;
                font-size: 12px;
                font-weight: 700;
                border-radius: 10px;
                border: 2px solid #4d8cad;
                color: #1A6D9A;
                text-decoration: none;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
            h4{
                font-family: Arial, Helvetica, sans-serif;
                font-weight: 600;
                color: #1588c5;
                cursor: pointer;
            }
            input:focus, textarea:focus, select:focus {
                outline: none;
              }
              .time--slot--container{
                @include disPro(flex, center,space-around);
                width: 100%;
                padding: 10px;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
              }
            .login-button{
                width: 100%;
                height: 40px;
                background-color: #1A6D9A;
                border: 1px solid #1A6D9A;
                color: #fff;
                padding: 10px;
                font-size: 15px;
                font-weight: 600;
                border-radius: 10px;
                font-family: Arial, Helvetica, sans-serif;
                cursor: pointer;
                box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
            }
            .checkbox--label{
                @include disPro(flex, center,space-between);
                gap: 10px;
                width: 75%;
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                label{
                }
            }
        }
    }
}